/* body {
  background: #e8e8e8;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  padding: 40px;
} */

/* Wrapper for border + card */
.card-wrapper {
  font-family: "Montserrat", sans-serif;
  position: relative;
  width: 520px;
  height: auto;
}

/* Floral Border Layer */
.flower-border {
  position: absolute;
  width: 100%;
  top: 20px;
  left: 0;
  z-index: 3;
  pointer-events: none;
}

/* Main Card */
.invitation-card {
  width: 460px;
  height: 100%;
  background: #3f2b40;
  color: white;
  padding: 110px 30px 27px;
  /* border-radius: 12px; */
  position: relative;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  margin: 20px auto;
  z-index: 1;
}

.names {
  font-family: "Great Vibes", cursive;
  font-size: 48px;
  margin: 20px 0;
}

.small-text {
  font-size: 14px;
  letter-spacing: 1px;
  margin: 20px 0;
}

.details-box {
  margin: 25px auto;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px 10px;
  border-radius: 10px;
}

.details-box div {
  font-size: 14px;
  line-height: 1.5;
}

.details-box .center {
  font-size: 40px;
  font-weight: bold;
}

/* Editor selection highlight */
.editable.selected {
  outline: 2px solid #4da3ff;
  cursor: pointer;
}
