@font-face {
  font-family: "Priestacy";
  src: url("./fonts/Priestacy.otf") format("truetype");
}

/* body {
  margin: 0;
  padding: 0;
  background: #f7e9e2;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

/* Wrapper for border + card */
.card-wrapper {
  position: relative;
  width: 460px;
  font-family: "Montserrat", sans-serif;
}

/* Full flower border */
.flower-border {
  position: absolute;
  width: 100%;
  height: 90%;
  object-fit: fill;
  top: 0;
  left: 0;
  z-index: 20;
  opacity: 0.9;
  pointer-events: none;
}

/* Main card */
.invitation-card {
  width: 420px;
  background: url("./images/background.png") no-repeat center center;
  padding: 50px 30px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  text-align: center;
  overflow: hidden;
  margin: 20px auto;
  z-index: 5;
}

/* Background flower image */
.flowers {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: 1;
  pointer-events: none;
}

.content {
  position: relative;
  z-index: 10;
}

/* Text styles */

.small-text {
  font-size: 12px;
  letter-spacing: 1px;
  margin-top: 15px;
  color: #7a5a4a;
}

.names {
  font-family: "Priestacy", cursive;
  font-size: 55px;
  color: #8b4e46;
  line-height: 1.2;
  margin: 10px 0;
}

.names span {
  font-size: 40px;
}

.invite-text {
  font-size: 14px;
  letter-spacing: 2px;
  margin: 15px 0;
  color: #7a5a4a;
}

.date-box {
  display: flex;
  justify-content: center;
  margin: 25px 0;
  /* border: 1px solid #c9b1a6; */
  padding: 10px 0;
}

.col {
  flex: 1;
  text-align: center;
}

.label {
  font-weight: 600;
  color: #8b4e46;
  font-size: 30px;
}

.center {
  border-left: 3px solid #8b4e46;
  border-right: 3px solid #8b4e46;
}

.day,
.date {
  font-size: 30px;
  font-weight: 600;
  color: #8b4e46;
  margin-top: 5px;
  margin-block-end: 0;
}

.details {
  font-size: 13px;
  letter-spacing: 1px;
  color: #6b5246;
  margin-top: 15px;
}

.footer-script {
  font-family: "Priestacy", cursive;
  font-size: 24px;
  margin-top: 20px;
  color: #8b4e46;
}

/* Editor selection highlight */
.editable.selected {
  outline: 2px solid #4da3ff;
  cursor: pointer;
}
