.card-wrapper {
  position: relative;
  width: 700px;
  height: 900px;
}
.card {
  width: 650px;
  height: 850px;
  background: #ffffff;
  padding: 60px 50px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  margin: 25px auto;
  z-index: 5; /* below border */
}
.top-floral {
  position: absolute;
  top: 0;
  right: 0;
  width: 650px;
  opacity: 0.4;
  pointer-events: none;
}
.editable.selected {
  outline: 2px solid #4da3ff;
  cursor: pointer;
}

/* Full floral border frame */
.flower-border {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  /* z-index: 20; */
  pointer-events: none;
}
