:root {
  --gold: #e7c66c;
  --green: #0c5a4c;
  --green-dark: #08483c;
  --white: rgba(255, 255, 255, 0.95);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* 
body{
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
  background:#f3f3f3;
} */

/* Card Size */

.card-wrapper {
  position: relative;
  width: 420px;
  height: 650px;
  font-family: "Playfair Display", serif;
}

/* Background */

.invitation-card {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 8px;

  background: radial-gradient(
    circle at top right,
    var(--green) 0%,
    var(--green-dark) 90%
  );

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 70px 35px 40px;
}

/* Border */

.flower-border {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  pointer-events: none;
}

/* Rose */

.flower-top {
  width: 55px;
  margin-bottom: 10px;
  display: block;
}

/* Names */

.couple-name {
  font-family: "Great Vibes", cursive;
  font-size: 42px;
  color: var(--gold);
  line-height: 1;
  text-align: center;
  font-weight: 400;
}

.couple-name span {
  display: block;
  margin-top: 5px;
}

/* Divider */

.ornament {
  width: 250px;
  height: 2px;
  background: linear-gradient(90deg, transparent, var(--gold), transparent);

  margin: 20px auto;
}

/* Anniversary */

.title {
  color: var(--white);
  font-size: 22px;
  letter-spacing: 3px;
  font-weight: 400;
  margin-bottom: 20px;
}

/* Date Section */

.date-box {
  width: 100%;
  max-width: 320px;

  display: flex;
  align-items: center;

  background: rgba(0, 0, 0, 0.08);

  padding: 10px 15px;
}

.day {
  font-family: "Playfair Display", serif;
  color: var(--gold);
  font-size: 35px;
  line-height: 1;
  min-width: 110px;
  text-align: center;
}

.event-details {
  border-left: 2px solid var(--gold);
  padding-left: 18px;
}

.event-details p {
  color: var(--white);
  font-size: 12px;
  line-height: 1.2;
  margin-bottom: 3px;
}

/* Description */

.description {
  color: var(--white);
  text-align: center;
  font-style: italic;

  font-size: 13px;
  line-height: 1.6;

  margin: 10px 15px;
}

/* RSVP */

.rsvp {
  color: var(--white);
  text-align: center;

  font-size: 11px;
  line-height: 1.2;
  letter-spacing: 1px;
}

/* Editor */

.editable.selected {
  outline: 2px solid #4da3ff;
}
