.card-wrapper {
  position: relative;
  width: 760px;
  height: 900px;
}

/* Flower PNG border */
.flower-border {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: 20;
  pointer-events: none;
}

.invitation {
  position: relative;
  z-index: 5; /* below border */
}
